---
- name: Initialize Kubernetes master
  command: kubeadm init --pod-network-cidr=192.168.0.0/16
  register: kubeadm_init_output
  when: inventory_hostname in groups['master']

- name: Save join command
  shell: |
    echo "{{ kubeadm_init_output.stdout }}" | grep "kubeadm join" -A 1 > /tmp/kubeadm_join.txt
  when: inventory_hostname in groups['master']

- name: Create .kube directory
  file:
    path: /root/.kube
    state: directory
    mode: '0755'

- name: Copy admin.conf to .kube/config
  command: cp /etc/kubernetes/admin.conf /root/.kube/config
  when: inventory_hostname in groups['master']

